/*-- GRID --*/
/* http://flexboxgrid.com/ */
@import 'flexboxgrid.min.css' all;

/*-- DEFAULT STYLES --*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background: #F2F2F2;
    font-family: 'Calibri', sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background: #E2E2E2;
    transition: all 0.3s ease-in-out;
}

input, select, textarea {
    width: -webkit-fill-available;
    margin: 2px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    font-family: 'Calibri', sans-serif;
}

form {
    padding: 20px;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

hr {
    margin: 15px auto;
}

/*-- END DEFAULT STYLES --*/

/*-- BEAUTY SCROLL BAR --*/

.beauty-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.beauty-scroll::-webkit-scrollbar-thumb {
    background: #BFD5D5; /* change this if you want other color */
    border-radius: 5px;
}

.beauty-scroll::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.beauty-scroll::-webkit-scrollbar-thumb:active {
    background-color: #8EA2A2; /* Scroll hover */
}

.beauty-scroll::-webkit-scrollbar-track {
    background: white;
}

.beauty-scroll::-webkit-scrollbar-track:hover,
.beauty-scroll::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

/*-- END BEAUTY SCROLL BAR --*/

/*-- VARIABLES --*/

:root {
    --nav-bar: #002366;
    --separtor: #576E76;
    --color-primary: #002366;
    --color-tertiary: #BFBFBF;
    --color-subtitle: #616161;
    --color-secondary: #FFC236;
    --color-highlighted: #0053F2;
    --transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

/*-- END VARIABLES --*/

/*-- CLASSES --*/
.mg-none {
    margin: 0px;
}

.pd-none {
    padding: 0px;
}

.full-width {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-small {
    font-size: 0.75rem;
}

.right-separator {
    margin-right: 5px;
    border-right: 2px solid var(--separtor);
}

.left-separator {
    margin-left: 5px;
    border-left: 2px solid var(--separtor);
}

.top-separator {
    margin-top: 5px;
    border-top: 2px solid var(--separtor);
}

.bottom-separator {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--separtor);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-tertiary {
    color: var(--color-tertiary);
}

.color-tertiary {
    color: var(--color-tertiary);
}

.color-highlighted {
    color: var(--color-highlighted);
}

.color-subtitle {
    color: var(--color-subtitle);
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-dark {
    color: #00021A;
}


/*-- BODY STRUCTURE CLASSES --*/
.nav-bar-horizontal {
    width: 88%;
    padding: 20px 6%;
    position: fixed;
    background: var(--nav-bar);
}

.btn-nav:hover {
    padding: 3px;
    color: #0240B7;
    transition: 0.2s all cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media(max-width:720px) {
    .nav-bar-horizontal {
        width: 81.5%;
    }
    .wrapper { 
        padding-top: 5rem;
    }
}